*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    --black: #202024;
    --grey: #E1E1E6;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: rgb(9,9,10);
    background: linear-gradient(45deg, rgba(9,9,10,1) 0%, rgba(32,32,36,1) 39%, rgba(255,0,142,1) 63%, rgba(255,122,41,1) 85%, rgba(255,205,30,1) 100%); }

body {
    display: grid;
    place-items: center;   
}

main{
    background:url(images/Mobile.svg) no-repeat center/cover;
    width: 100vw;
    height: 100vh;
    max-width: 485px;
    display: grid;
    place-items: center;
}

.container {
    max-width:250px;
    text-align: center;
    color: var(--grey);
    font-size: 1.25rem;
}

.avatar{
    position: relative;
}

#spinning {
    position: absolute;
    top: -1rem;
    z-index: 1;
}

#gitAvatar {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    /* Aqui fiz um transform para girar a imagem, pois o selo estava cobrindo muito o rosto */
    transform: scaleX(-1); 
}

#gitName {
    font-size: 1.75rem;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: .25rem;
}

#gitLink {
    color: var(--grey);
    text-decoration: none; 
    /* Cria um gap entre o giticon e o gitname */
    display: flex;
    gap: .75rem;
    justify-content: center;
    align-items: center;   
}

#gitBio {
    margin-top: 1.5rem;
    font-weight: 400;
    font-size: 1.15rem;
}

ul {
    margin-top: 4rem;
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: .5rem;
    justify-content: center;
}

@media (min-width: 800px) {
    main {
        display: grid;
        place-items: center;
        background: url(images/Mobile.svg) no-repeat center/cover;
        background-color: #202024;
        border-radius: 2rem;
        height: 80vh;
        width: 25vw;
    }
   
    ul {
        margin: 1.5rem auto 0;
        gap: .75rem;
    }

    #ropeClasp {
        display: grid;
        place-items: center;
        margin-bottom: 1rem;
    }

    #rope {
        position: absolute;
        bottom: 77.5vh;
        z-index: 2;
        width: 64px;
        height: 300px;
        background: linear-gradient(161.24deg, #FF008E -15.25%, #FFCD1E 111.89%);
    }

    #clasp {
        position: absolute;
        background: #121214;
        width: 76px;
        height: 12px;
        border-radius: 1.5rem;
        top: 11px
    }
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

#gitAvatar {
    align-items: center;
    transition: all ease .75s;
}

#gitAvatar:hover {
    width: 10rem;
    height: 13rem;
}

a > img {
    position: relative;
    width: 50px;
    top: 0;
    border-radius: 0.5rem;
    transition: all ease .3s;
}

a > img:hover {
    transition: all ease 0.25s;
    border-radius: 50%;
    box-shadow: 0 0 .8rem #FFCD1E;
}

#spinning {
    animation: loading 10s linear infinite;
    height: 86px;
    width: 86px;
}

.gitIcon {
    height: 20px;
    width: 20px;
}
