*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    --black: #202024;
    --grey: #E1E1E6;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: url(images/background.webp) no-repeat center/cover;
}
body {
    display: grid;
    place-items: center;
    
}
main{
    background:url(images/Mobile.svg) no-repeat center/cover;
    width: 100vw;
    height: 100vh;
    max-width: 485px;
}



.container {
    max-width:250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--grey);
    font-size: 1.25rem;
}

.avatar{
    /* width: 10rem; */
    margin: 11.5rem 20% 0;
    position: relative;
}

.avatar span{
    position: absolute;
    top: -15px;
    z-index: 1;;
}

.avatar > img{
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    /* Aqui fiz um transform para girar a imagem, pois o selo estava cobrindo muito o rosto */
    transform: scaleX(-1); 
}

h1 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: .25rem;
}

a{
    color: var(--grey);
    text-decoration: none;
    display: flex;
    gap: .75rem;
    justify-content: center;
    align-items: center;
    
}
p{
    margin-top: 1.5rem;
    font-weight: 400;
    font-size: 1.15rem;
}
ul {
    margin-top: 4rem;
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: .5rem;
    justify-content: center;
    
}



@media (min-width: 800px) {
    main {
        
        width: 22.5rem;
        height: 41rem;
        background: url(images/Mobile.svg) no-repeat;
        background-color: #202024;
        border-radius: 1rem;
        /* background-size: 22.5rem 41rem; */
    }
    .avatar {
        text-align: center;
        margin-right: 2.25rem;
    }
    ul {
        margin: 1.5rem auto 0;
        gap: .75rem;
        
    }
    .rope {
        position: static;
        z-index: 2;
        width: 80px;
        height: 600px;
        background: linear-gradient(161.24deg, #FF008E -15.25%, #FFCD1E 111.89%);
        border-radius: 0 0 3px 3px;
        top: 0;
        bottom: 0;
        margin-top: -35rem;
        margin-left: 8.94rem;
        
    }
    .clasp {
        position: absolute;
        background: #121214;
        z-index: 2;
        width: 100px;
        height: 12px;
        margin-left: 8.3rem;
        margin-top: -.75rem;
        border-radius: 1.5rem;
    }
    
    .container {
        margin-top: -2.5rem;
    }
}


@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

#gitAvatar {
    align-items: center;
    transition: all ease .75s;
}

#gitAvatar:hover {
    width: 10rem;
    height: 13rem;
}
a > img {
    position: relative;
    width: 50px;
    top: 0;
    border-radius: 0.4rem;
    transition: all ease .3s;
}

a > img:hover {
    transition: all ease 0.25s;
    border-radius: 45%;
    box-shadow: 0 0 .5rem #FFCD1E;
    
}

#spinning {
    animation: loading 10s linear infinite;
}

.gitIcon {
    height: 20px;
    width: 20px;
 
}
