*{
    margin: 0;
}
html, body{
    --black: #202024;
    --grey: #E1E1E6;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
body {
    display: grid;
    place-items: center;
    
}
main{
    background:url(images/Mobile.png);
    width: 375px;
    height: 812px;
}


.container {
    max-width:250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--grey)
}

.avatar{
    width: 10rem;
    margin: 11.5rem auto 0;
    position: relative;
}

.avatar span{
    position: absolute;
    top: -15px;
    z-index: 1;;
}

.avatar > img{
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    /* Aqui fiz um transform para girar a imagem, pois o selo estava cobrindo muito o rosto */
    transform: scaleX(-1); 
}

h1 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: .25rem;
}

a{
   color: var(--grey);
   text-decoration: none;
   display: flex;
   gap: .75rem;
   justify-content: center;
   align-items: center;
     
}
p{
    margin-top: 2rem;
}
ul {
    margin-top: 4rem;
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: .5rem;
    justify-content: center;

}